
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #7e7b12;
    font-size: 16px; 
}

h1 {
	text-align: center;
	font-style: italic;
	font-size: 45px;
	margin-bottom: 20px;
	position: absolute;
	top: 265px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	
}

.chronometre {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;  
    margin-top: 80px; 
}


@media screen and (max-width: 768px) {
    .chronometre {
        padding: 5px;
    }
    .tim {
        font-size: 18px;
    }
    .controls button {
        font-size: 14px;
        padding: 10px 15px;
    }
}

.tim {
    margin: auto;
    width: 100%;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 5px 0;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 10px;
}

.tim span {
    font-family: "dancing Script", cursive;
    padding: 2px;
}

.controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

button {
    background-color: #37360e;
    color: white;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 15px;
    width: 30%;
    border: 4px solid black;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    transform: scale(0.88);
    background-color: white;
    color: #37360e;
    font-size: 20px;
}
